<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="../static/css/WebpageScreen.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="../static/css/MobileScreen.css">
    <meta name=viewport content="width=device-width, initial-scale=1">
  <body>
    <div class="webpage">
      <div id="game-screen">
      </div>
      <footer>
    </div>



    <!-- Mobile version only-->
    <div class="mobile">
      
      <!-- left side of the screen, right side of the screen -->
      <div id="mobile-left-screen">
        
      </div> 


      <!-- right side of the screen, right side of the screen -->
      <div id="mobile-right-screen">
        
      </div>

    </div> 
  </body>

  <script type="text/javascript" src="../static/js/socket.io.js"></script>
  <script type="text/javascript" src="../static/js/controller.js"></script>
  <script type="text/javascript" src="../static/js/client.js"></script>
  <script type="text/javascript" src="../static/js/p5.min.js"></script>
  <script type="text/javascript" src="../static/js/p5.dom.min.js"></script>
  <script type="text/javascript" src="../static/js/p5.sound.min.js"></script>
  <script type="text/javascript"src="sketch.js"></script>

  </script>

</html>
