<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name=viewport content="width=device-width, initial-scale=1" charset="utf-8">
  <body>


    <!-- Mobile version only-->
    <!-- left side of the screen, right side of the screen -->
    <div id="mobile-left-screen">
      <img class="mobile" src="../static/assets/Arrows_Button_Unpressed.png">
    </div> 


    <!-- right side of the screen, right side of the screen -->
    <div id="mobile-right-screen">
      <img class="mobile" src="../static/assets/A_Button_Unpressed.png">
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="../static/js/controller.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <script type="text/javascript" src="../static/js/client.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.dom.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/addons/p5.sound.min.js"></script>
  <script type="text/javascript" src="../static/js/sketch.js"></script>
</html>
