<!DOCTYPE html>
<html>
  <header>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="../static/css/WebpageScreen.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="../static/css/MobileScreen.css">
    <meta name=viewport content="width=device-width, initial-scale=1" charset="utf-8">
  <body>


    <!-- Mobile version only-->
    <div class="mobile">
      
      <!-- left side of the screen, right side of the screen -->
      <div id="mobile-left-screen">
        <img src="../static/assets/Arrows_Button_Unpressed.png">
      </div> 


      <!-- right side of the screen, right side of the screen -->
      <div id="mobile-right-screen">
        <img src="../static/assets/A_Button_Unpressed.png">
      </div>

    </div> 
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/controller.js"></script>
  <script type="text/javascript" src="../static/js/index.js"></script>
  <script type="text/javascript" src="../static/js/client.js"></script>
  

</html>
