 /* EVERYTHING BELOW IS FOR COMPUTER SCREEN */
body{
  background-color: darkslategrey;
}
.mobile{
  display: none;
}
.mobile-display {
  display: none;
}
canvas{
  display: block;
  margin: auto;
}

/* MEDIA CONTENT FOR PHONE ONLY */
@media only screen and (max-width: 900px) {
  body{
    background-color: lightgray;
  }
  .mobile{
    display: block;
  }
  .mobile-display {
    display: block;
  }
  #controls{
    width: 50%;
    height: auto;
    float: left;
  }
  canvas {
    display: none;
  }
  #control-a {
    width: 25%;
    height: auto;
    float: right;
  }
  #control-b {
    width: 25%;
    height: auto;
    float: right;
  }
}