 /* EVERYTHING BELOW IS FOR COMPUTER SCREEN */
body{
  background-color: rgb(48, 48, 48);
}
.mobile{
  display: none;
}
.mobile-display {
  display: none;
}
canvas{
  display: block;
  margin: auto;
}

/* MEDIA CONTENT FOR PHONE ONLY */
@media only screen and (max-width: 900px) {
  body{
    background-color: lightgray;
  }
  .mobile{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
  }
  .mobile-display {
    display: block;
  }
  #control-lu{
    width: 150px;
    height: auto;
    float: left;
  }
  #control-rd{
    width: 150px;
    height: auto;
    float: left;
  }
  canvas {
    display: none;
  }
  #control-a {
    width: 150px;
    height: auto;
    float: right;
  }
  #control-b {
    width: 150px;
    height: auto;
    float: right;
  }
}