body{
    background-color: blue;
}

#mobile-right-screen{
    width: 50%;
    display: inline-block;
    float:right;
}

#mobile-left-screen{
    width: 50%;
    float: left;
}
.mobile {
    display: block;
}

canvas {
    display: none;
}