<<<<<<< HEAD
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}

body {
background-color: black;
=======
body {
  background-color: black;
>>>>>>> 4ca5a08fa3e22786173fa69b589c8676ec7555f7
}
